body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #8257e6, #7038d4); */
    color: #fff;
    text-align: center;
}

.container {    
    background-image: url('./quotes/pexels-matej-698324.jpg') !important;
    background-size: contain;
}

header {
    background-color: #975ac0;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid #fff;
}

#quote-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(218, 115, 228, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    margin: auto;
}

#quote {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#author {
    color: #555;
}

#categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.category-button {
    padding: 10px 20px;
    background-color: #963dc9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #561f61;
}

footer {
    background-color: #975ac0;
    padding: 10px;
    color: #0c0c0c;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
